<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>VendorHub</title>
</head>

<body>

    <main>
        <form action="/login" method="post" class="login-form">
            <div class="form-field">
                <label for="email">Enter your email: </label>
                <input type="text" name="email" id="email" required />
            </div>
            <div class="form-feild">
                <label for="password">Enter your password: </label>
                <input type="password" name="password" id="password" required />
            </div>
            <div class="form-field">
                <input type="submit" value="Log in" />
            </div>
        </form>
    </main>
</body>

<a href="/signup">Dont have an account?</a> 


</html>